:root {
  --font1: 'Muli', sans-serif;
  --font2: 'PT Sans', sans-serif;
}

body {
  background-color: whitesmoke;
  padding: 50px;
  font-family: var(--font2);
}

a {
  color: #00B7FF;
}

/* HEADER */

.header {
  padding: 1% 10px;
  font-family: var(--font1);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #3b5999;
  color: white;
  width: 40%;
  margin: 0 auto;
}

h1 {
  margin: 0;
  font-size: 40px;

}

form {
  width: 40%;
  margin: 2em auto;
}

input[type=submit] {
  margin: 1em 0;
}
